*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}
body {
    padding: 0px;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #d5d7db;
}
.websiteicon{
    border-radius: 50px;
}
.container {
    width: 100lvw;
    height: 80svh;
    display: flex;
    justify-content: center;
   

}

.login-page {
    margin-top: 150px;
    height: 73vh;
    width: 60vw;
    display: flex;
    align-items: flex-start;


}



.logo {
   position: relative;
   right: 25px;
    /* height: 100px; */
    width: 290px;
}

.moto {
    font-size: 28px;
    font-weight: lighter;
    height: 100px;
    margin: 0;
}

.box1 {
    width: 500px;
    height: 150px;
    margin-right: 50px;

}

.box2 {
    box-shadow: 1px 2px 10px rgb(180, 180, 180);
    border-radius: 5px;
    width: 395px;
    height: 335px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-top: 20px;
}

#password {
   
    padding-left: 15px;
    margin: 10px;
    width: 350px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgb(182, 179, 179);
}

#email {
    padding-left: 15px;
    width: 350px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgb(197, 197, 197);
}

.log-in {
    width: 360px;
    height: 50px;
    background-color: #0866ff;
    color: white;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 900;
    border: none;
    margin: 10px;
    cursor: pointer;
}

.Forgotten-password {
    text-decoration: none;
    margin: 10px;
    font-size: 14px;

}

a {
    text-decoration: none;
    color: grey;
}

a:hover {
    text-decoration: underline;
}

hr {
    width: 350px;
    margin: 10px;
}

.new-account {
    cursor: pointer;
    width: 180px;
    height: 50px;
    background-color: #58c052;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    margin: 10px;

}

::placeholder {
    font-size: 17px;
    
    color: rgb(216, 212, 212);

}

.creat-a-page {
    color: black;
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;
}

.for-business {
    /* display: none; */
    position: relative;
    top: 60px;
}
.recponsive-logos{
    display: none;
}

/* this is for link bar at the bottome or footer. */


.footer{
    width: 100vw;
   position: absolute;
   bottom: 0px;
   
    }                    
.link-bar {
    padding: 10px;
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    width: 70vw;
    border-bottom: 1px solid grey;
    justify-content: center;
    align-items: center;
    
    
}
.footer{
    background-color: white;

}
.lan {
    margin-right: 10px;
    /* border: none; */
    /* font-weight: bolder; */
}
@media  (max-width:500px){

    .box1{
        width: 100vw;
        display: none;
    }
 .box2{
       width: 300px;
 }
    .login-page{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .container{
        height: 90vh;
        width: 100vw;
    }
    #email{
        width: 200px;
    }
    #password{
        width: 200px;
    }
    .log-in{
        width: 200px;
    }
    .link-bar{
    height: 10vh;
    width: 100vw;
    flex-shrink: 22;
    }
    hr{
        width: 210px;
    }
    .lan{
        font-size: 10px;
        padding: 0px;
        margin: 0px;
    }
    .recponsive-logo-container{
        background-image: url(facebook-icon.png);
        height: 80px;
        border-radius: 50px;
        z-index: 10;
    }
}

