body {
    padding: 0px;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #ffffff;
}

.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #f2f4f7;

}

.login-page {
    margin-top: 150px;
    height: 73vh;
    width: 60vw;
    display: flex;
    align-items: flex-start;


}



.logo {
    margin-right: 10;
    /* height: 100px; */
    width: 290px;
}

.moto {
    font-size: 28px;
    font-weight: lighter;
    height: 100px;
    margin: 0;
}

.box1 {
    width: 500px;
    height: 150px;
    margin-right: 50px;

}

.box2 {
    box-shadow: 1px 2px 10px rgb(180, 180, 180);
    border-radius: 5px;
    width: 395px;
    height: 335px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-top: 20px;
}

#password {
    margin: 10px;
    width: 350px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgb(182, 179, 179);
}

#email {
    width: 350px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgb(197, 197, 197);
}

.log-in {
    width: 360px;
    height: 50px;

    background-color: #0866ff;
    color: white;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 900;
    border: none;
    margin: 10px;
}

.Forgotten-password {
    text-decoration: none;
    margin: 10px;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: grey;
}

a:hover {
    text-decoration: underline;
}

hr {
    width: 350px;
    margin: 10px;
}

.new-account {
    width: 180px;
    height: 50px;
    background-color: #58c052;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    margin: 10px;

}

::placeholder {
    font-size: 17px;
    padding-left: 15px;
    color: rgb(216, 212, 212);
}

.creat-a-page {
    color: black;
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;
}

.for-business {
    /* display: none; */
    position: relative;
    top: 60px;
}


/* this is for link bar at the bottome or footer. */


/* .footer{
    
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    }                     */
.link-bar {
    padding: 10px;
    font-size: 13px;
    display: flex;
    margin-top: 15px;
    width: 70vw;
   border-bottom: 1px solid grey;
    justify-content: center;
    align-items: center;
    
   
}
.lan{
    margin-right: 10px;
    /* border: none; */
    /* font-weight: bolder; */
}
